@import './styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    color: $color-text--primary;
    background-color: $color-dark;
    font-family: inherit;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.disabled {
    pointer-events: none;
    filter: blur(2px);
    opacity: 0.5;

    &--input {
        pointer-events: none;
        filter: blur(0.75px) brightness(85%);
    }
}

.header {
    &__container {
        flex-direction: column;
        justify-items: center;
        margin-top: 3rem;
    }
    &__icon {
        justify-self: center;
        font-size: 8rem;
    }
}

.weatherData__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1rem;
}

.btn {
    background-color: $color-silver;
    color: $color-dark;
    border-radius: 10px;
    border: 1px solid $color-silver;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    //padding: 0.5rem 1rem;
    min-width: 225px;
    transition: all 0.15s;

    &:hover {
        background-color: $color-dark;
        color: $color-silver;
    }

    &:focus, &:active {
        background-color: #202025;
        color: $color-silver;
    }

    &--active {
        background-color: #202025;
        color: $color-silver;
        border: 2px solid $color-silver;
    }
}



