$background-color--primary: #2e2e36;
$color-primary: #97979b;

$color-f: #a20e00;
$color-f--active: #ce0d00;
$color-c: #1a47dc;
$color-c--active: #1e50f8;
$color-k: #16a200;
$color-k--active: #13cb00;