$color-dark: #2e2e36;
$color-silver: #cecee3;
$color-silver--dark: #a6a6b7;
$color-text--primary: #97979b;
$color-text--dark: #3d3d3d;

$color-f: #a20e00;
$color-f--active: #ce0d00;
$color-c: #1a47dc;
$color-c--active: #1e50f8;
$color-k: #16a200;
$color-k--active: #13cb00;