@import './variables';

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.card {
  perspective: 1000px;
  background: transparent;
  width: 23rem;
  height: 25rem;
  border-radius: 0.7rem;

  .card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  &:hover &__inner {
    transform: rotateY(180deg);
  }

  &__front, &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 6px 15px 1.5px rgba(0, 0, 0, 0.363);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  &__front {
    background: linear-gradient(to bottom right, #58585e, #292931);

    &-left {
      text-align: center;
      gap: 0.7rem;
    }

    &-right {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
    }

    &-text-div {
      justify-self: center;
      align-self: center;
      text-align: center;
    }
  }

  &__back {
    background: linear-gradient(to bottom right, #a6a6b7, #666675);
    color: $color-text--dark;
    transform: rotateY(180deg);

    &-left {
      gap: 1rem;
      text-align: center;
    }

    &-right {
      gap: 1.4rem;
      text-align: center;
    }
  }

  &__text {
    font-size: 1.7rem;

    &--smaller {
      font-size: 1.6rem;
    }

    &--larger {
     font-size: 2.2rem;
    }

    &-date {
      font-size: 2.8rem;
      font-weight: 700;
    }

    &-time {
      font-size: 2.5rem;
    }

    &-weather-description {
      font-size: 2rem;
      font-weight: bold;
    }

    &-country {
      font-size: 2rem;
    }

    &-color--white {
      color: #fff;
    }

    &-color--dark {
      color: $color-text--dark2;
      &-bold {
        color: $color-text--dark2;
        font-weight: 900;
      }
    }

    &-time--night {
      color: $color-text--primary;
    }
  }

  &__label {
      font-size: 1.8rem;

    &--larger {
      font-size: 2.3rem;
      font-weight: 700;
    }
  }

  &__link {
    color: $color-text--dark;
    text-decoration: none;

    &:visited {
      color: $color-text--dark;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: underline;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}



//.card {
//  perspective: 1000px;
//  transition: transform 0.6s;
//  transform-style: preserve-3d;
//
//  .card__inner {
//
//  }
//
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  width: 20rem;
//  height: 22rem;
//  background: linear-gradient(to bottom right, #58585e, #292931);
//  margin: 0 10px 0 10px;
//  object-fit: cover;
//  border-radius: 0.7rem;
//  box-shadow: 0 6px 15px 1.5px rgba(0, 0, 0, 0.363);
//  cursor: pointer;
//}