@use './variables' as *;

.error__global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $color-dark;
  margin-top: 30vh;
}