@import './variables';

/* Form Elements */
.form {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 2rem;

  &__section-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligns everything to the bottom */
    min-width: 75%;
  }

  &__text-label {
    position: absolute;
    top: -2.5rem;
    left: 2rem;
  }

  &__text-input {
    background: linear-gradient(to right, #292931, #58585e, #292931);
    color: $color-text--primary;
    border: 0.35px solid $color-text--primary;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 2rem 4rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
    transition: 0.2s;
  }

  &__select {
    position: absolute;
    right: 1%;
    top: 16%;
    z-index: 10;
    transition: 0.2s;

  }

  &__input--focused {
  transform: scale(105%);
  }

  &__section-bottom {
    display: flex;
    gap: 6rem;

    &-method, &-units, &-submit {
      display: flex;
      gap: 1rem;
    }
  }
}

/* Button Elements in Form */
.btn {
  &-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-width: fit-content;

    &-text {
      pointer-events: none;
    }

    &-icon {
      width: 3rem;
      height: 3rem;
    }
  }

  &-temp {
    padding: 2rem 1rem;
    background-color: transparent;
    border: 0.35px solid;
    border-radius: 10px;
    font-weight: 700;
    min-width: 100px;

    &--f {
      color: $color-f;
      border-color: $color-f;
      transition: .15s all;

      &:hover {
        background-color: $color-f;
        color: white;
      }

      &:focus, &:active {
        background-color: $color-f--active;
        border-color: $color-f--active;
        color: white;
      }
      &--active {
        background-color: $color-f--active;
        border-color: $color-f--active;
        color: white;
      }
    }

    &--c {
      color: $color-c;
      border-color: $color-c;
      transition: .15s all;

      &:hover {
        background-color: $color-c;
        color: white;
      }
      &:focus, &:active {
        background-color: $color-c--active;
        border-color: $color-c--active;
      }
      &--active {
        background-color: $color-c--active;
        border-color: $color-c--active;
        color: white;
      }
    }

    &--k {
      color: $color-k;
      border-color: $color-k;
      transition: .15s all;

      &:hover {
        background-color: $color-k;
        color: white;
      }
      &:focus, &:active {
        background-color: $color-k--active;
        border-color: $color-k--active;
        color: white;
      }
      &--active {
        background-color: $color-k--active;
        border-color: $color-k--active;
        color: white;
      }
    }
  }
}
