@use './variables' as *;
@use './mixins' as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 112%;
    height: 100%;

    @include respond-desktop-2k {
        font-size: 87.5%;
    }

    @include respond-desktop {
        font-size: 68.75%;
    }

    @include respond-laptop-standard {
        font-size: 62.5%;
    }

    @include respond-laptop-small {
        font-size: 56.25%;
    }

    @include respond-tablet {
        font-size: 50%;
    }

    @include respond-phone {
        font-size: 43.75%;
    }

}

body {
    height: 100%;
    color: $color-text--primary;
    background-color: $color-dark;
    font-family: inherit;
}

h2 {
    font-size: 3.5rem;

    @include respond-laptop-standard {
        font-size: 2.5rem;
    }

    @include respond-tablet-large {
        font-size: 2.2rem;
    }

    @include respond-phone {
        text-align: center;
    }
}

h3 {
    font-size: 4rem;

    @include respond-laptop-standard {
        font-size: 2.5rem;
    }

    @include respond-tablet-large {
        font-size: 3.8rem;
    }
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 10rem;

    @include respond-laptop-standard {
        padding: 0;
    }

    @include respond-tablet-large {
        padding: 5rem;
    }

    @include respond-tablet {
        padding: 1rem;
    }
}

.disabled {
    pointer-events: none;
    filter: blur(2px);
    opacity: 0.5;

    &--input {
        pointer-events: none;
    }
}

.header {
    &__container {
        flex-direction: column;
        text-align: center;

        @include respond-laptop-standard {
            margin-top: 3rem;
        }

        @include respond-tablet {
            margin-top: 8rem;
        }

        @include respond-phone {
            margin-top: 2rem;
            padding: 1.5rem 0;
        }

    }
    &__icon {
        justify-self: center;
        font-size: 8rem;
    }
}

.weatherData__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3.5rem;

    @include respond-laptop-standard {
        margin-top: 2.5rem;
    }

    @include respond-tablet-large {
        margin-top: 5rem;
    }

    @include respond-phone {
        margin-top: 3rem;
    }
}

.btn {
    background-color: $color-silver;
    color: $color-dark;
    border-radius: 10px;
    border: 1px solid $color-silver;
    font-size: 1.6rem;
    padding: 2rem 4rem;
    min-width: 300px;
    transition: all 0.15s;

    @include respond-desktop-2k {
        padding: 1rem 2rem;
        min-width: 225px;
    }

    @include respond-laptop-small {
        padding: 1rem;
        min-width: max-content;
    }

    @include respond-tablet-large {
        font-size: 2rem;
        min-width: 260px;
    }

    @include respond-tablet {
        font-size: 1.8rem;
        padding: 2rem 0.8rem;
        min-width: 210px;
    }

    @include respond-phone {
        padding: 1rem;
    }

    &:hover {
        background-color: $color-dark;
        color: $color-silver;
    }

    &:focus, &:active {
        background-color: #202025;
        color: $color-silver;
    }

    &--active {
        background-color: #202025;
        color: $color-silver;
        border: 2px solid $color-silver;
    }
}

.footer {
    margin-top: auto;
    padding: 1rem;

    @include respond-phone {
        align-self: center;
        padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    }
}

.copyright {
    font-size: 1.4rem;
}



